 .footer-container-main {
   @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   @media screen and (min-width: 1200px) {
    justify-content: space-between;
   }
} 
  
.footer-container {
  @media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: column;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-logo__web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--button-background-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo__studio {
color: var(--button-color);
}

.address-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  line-height: 1.7;
  color: var(--address-footer-color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--address-item-footer-color);
  }
}

.footer-list {
  margin-top: 20px;
}

.address-list__item {
  display: flex;
  justify-content: center;
align-items: center;
margin-bottom: 8px;
&:last-child {
  margin-bottom: 0;
}
}

.join-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
  }
} 

.join-container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.join-container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.join-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  &:last-child {
    margin-right: 0px;
  }
}

.join-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.join-list__icon {
  fill: var(--background-color);
}

.subscribe-container {
  margin-top: 60px;
}

.subscribe-container__form {
  @media screen and (min-width: 1200px) {
  display: flex
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-container__text {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--button-color);
}

.subscribe-form__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-form__button {
  display: flex;
  align-items: center;
margin-top: 20px;
  padding: 10px 28px 10px 29px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: var(--button-color);
}