.portfolio-section {
/*     padding-top: 94px;
    padding-bottom: 94px; */
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 54px;
  }
}

.btn-list__item {
margin-bottom: 15px;
&:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
margin-bottom: 0;
}
}

.btn-list__item > .btn-list__button {
  padding: 6px 22px;

  margin-right: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-color);
  background-color: var(--portfolio-button-background-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.btn-list__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-background-color);
    color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin-left: -30px;
  }
}

.portfolio-list__item {
/*   margin-right: 30px;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  } */
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover .portfolio-list__top-text {
    transform: translateY(0);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.portfolio-list__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  text-decoration: none;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list__top-text {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  color: var(--title-color);
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.portfolio-list__text-container {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-list__title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--portfolio-text-color);
}