

.section {
    padding-top: 60px;
    padding-bottom: 60px; 

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
    padding-bottom: 94px;
    }
  }
  
.feature-correct-section {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

  
.team-correct-section {
    background-color: var(--our-team-background-color);
  }