:root {
    --text-color: #212121;
    --logo-color: #2196f3;
    --nav-hover-color: #2196f3;
    --title-color: #ffffff;
    --background-color: #ffffff;
    --our-team-background-color: #f5f4fa;
    --contacts-color: #757575;
    --headerlogo-color: #000000;
    --hero-background-color: #2f303a;
    --button-background-color: #2196f3;
    --button-color: #ffffff;
    --portfolio-text-color: #757575;
    --footer-background-color: #2f303a;
    --footer-logo-color: #ffffff;
    --address-footer-color: #ffffff90;
    --address-item-footer-color: #ffffff;
    --portfolio-button-background-color: #f5f4fa;
  }